.experience-title {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 600;
}

.card-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    top: calc(-8vh + var(--card-offset));
}

@media only screen and (max-width: 640px) {
  .card-container {
    top: calc(-4vh + var(--card-offset));
  }
}
