.skills-title, .personal-data-title {
  padding: 1rem;
  font-size: 2rem;
  font-weight: 600;

}

.skills-container {
  margin: auto;
  border-radius: 20px;
  justify-items: center;
  padding: 1rem 0 1rem 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
}

.skills-section{
    width: 100%;
}
