.profile-pic {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.header-containers {
  padding: 1.5rem;
}

.eb-button-container {
  transition: all .3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-top: 2px solid #d1d1cd29;
  border-style: inset;
}

.eb-button-container:hover {
  filter: saturate(1.5);
  background-color: #b19eef1a;
  transition: all .3s;
  transform: scale(1.1);
}

.connect-buttons {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 700px) {
  .connect-buttons {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1rem;
  }
}